<app-header></app-header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- <br>
<div class="d-flex justify-content-between small-screen">
  <div class="p-2 flex-fill bd-highlight">
    <div class="card custom-border" style="box-shadow: 3px 4px 6px rgb(0 0 0 / 35%) ! important;">
        <div class="container-fluid">
            <div class="card-body">
                <div class="row">
                    <div>
                        <img src="../../../assets/Group 793.svg" alt="..." class="img-responsive" style="max-width: 4.6875rem;">
                    </div>
                    <div style="margin-left: 0.5rem;">
                        <small class="card-title kpi-title">Customers</small>
                        <div class="card-text" style="color: #273c88; display: flex; justify-content: center; align-items: center;">
                            <strong class="kpi-data">1234</strong>&nbsp;Total&nbsp;
                            <div class="v1"></div>&nbsp;
                            <strong class="kpi-data">123</strong> &nbsp;Registered
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div> -->

