<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="carousel slide media-carousel" id="mediaSm" data-interval="false">
        <div class="carousel-inner">
          <div>
            <div class="row">
              <div class="card">
                <div class="card-header"></div>
                <div class="container-fluid">
                  <div class="card-body"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#mediaSm" class="left carousel-control">‹</a>
        <a data-slide="next" href="#mediaSm" class="right carousel-control">›</a>
      </div>
    </div>
  </div>
</div>
