<div class="container">
  <div class="page-title">
    <span>
      <img src="../../../assets/logitech-2.png" alt="..." class="offcLogo">
    </span>
    <h3>Packages and Prices</h3>
  </div>
  <div class="packageOptions">
    <p class="pkgLabel">Logitech is the first consumer electronics company to label its products with the amount of climate-warming carbon used to create them. Now, you can make a choice that’s informed not just by the price and features of your purchase, but by its environmental impact too.
    </p>
    <span data-toggle="modal" data-target="#myModal" class="question-mark tooltip">
      <i class="fa fa-question-circle-o fa-2x question-icon" aria-hidden="true"></i>
      <span class="tooltiptext">Have a Question?</span>
    </span>
    <div class="btn-group" data-toggle="buttons">
      <label data-toggle="tooltip" data-placement="bottom" title="No of employees you require licenses for is greater than 300" class="btn btn-primary active"
      >
      <input type="radio" name="options" id="option1" autocomplete="off" checked>Microsoft 365
    </label>
    <label data-toggle="tooltip" data-placement="bottom" title="No of employees you require licenses for is greater than 300" class="btn btn-primary"
      >
      <input type="radio" name="options" id="option2" autocomplete="off">Broadband
    </label>
    <label data-toggle="tooltip" data-placement="bottom" title="No of employees you require licenses for is greater than 300" class="btn btn-primary"
      >
      <input type="radio" name="options" id="option3" autocomplete="off">Operator Connect
    </label>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title" id="myModalLabel">Ask Your Question</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <label for="firstname">First Name </label>
              <input type="text" id="firstname"  formcontrolname="firstname" class="form-control" required>
            </div>
            <div class="col-xs-12">
              <label for="lastname">Last Name </label>
              <input type="text" id="lastname"  formcontrolname="lastname" class="form-control" required>
            </div>
            <div class="col-xs-12">
              <label for="email">Email</label>
              <input type="text" id="email" formcontrolname="email" class="form-control" required>
            </div>
            <div class="col-xs-12">
              <label for="query">Query Description </label>
              <textarea id="query" formcontrolname="query" class="form-control" required></textarea>
            </div>
          </div>
          <div class="form-group" style="margin-top: 2rem; text-align: center;">
            <button type="button" data-dismiss="modal" class="btn conf-btn cancel-btn">Cancel</button>
            <button type=" button" class="btn conf-btn" disabled="">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-package-carousal></app-package-carousal>
