<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="carousel media-carousel hidden-sm hidden-md hidden-lg hidden-xl hiddenDuo" id="mediaSm" data-interval="false">
        <div class="carousel-inner">
          <div class="row">
            <div class="col-md-4 cardCol">
              <div class="card">
                <h5 class="card-header">Test</h5>
                <div class="container-fluid">
                  <div class="card-body">
                    <div class="pkgContent"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a data-slide="next" href="#" class="right carousel-control glyphicon glyphicon-menu-left" aria-hidden="true"></a>
        <a data-slide="next" href="#" class="right carousel-control glyphicon glyphicon-menu-right" aria-hidden="true"></a>
      </div>
    </div>
  </div>
</div>
