.contaner {
  width: 960px !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 2rem;/*changes 30px**/
  font-family: Arial, Helvetica, sans-serif;
}
.carousel-inner{
  overflow: inherit !important;
}
/* Previous button  */
.media-carousel .carousel-control.left {
  left: -25px;
  background-image: none;
  height: 40px;
  width: 40px;
  margin-top: 15%;
  font-size: 50px;
  color:#6E6E6E;/*changes grey*/
  opacity: 100%;/*changes*/
}
/* Next button  */
.media-carousel .carousel-control.right {
  right: -25px !important;
  background-image: none;
  height: 40px;
  width: 40px;
  margin-top: 15%;
  font-size: 50px;
  color: #6E6E6E;/*changes*/
  opacity: 100%;/*changes*/
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: 0;}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .media-carousel .carousel-control.left {
    /*left: -25px;
    background-image: none;
    height: 40px;
    width: 40px;*//*changes*/
    margin-top: 30%;
    /* font-size: 50px;
    color: grey; *//*changes*/
  }
  .media-carousel .carousel-control.right {
    /* right: -25px !important;
    background-image: none;
    height: 40px;
    width: 40px; *//*changes*/
    margin-top: 30%;
    /* font-size: 50px;
    color: grey; *//*changes*/
  }
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
  background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
  background: #333333;
}

.media-carousel img {
  width: 250px;
  height: 250px;
  /* filter: grayscale(100%); *//*changes:removed*/
}

/* End carousel */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-clip: border-box;
  /* background-color: #e4f6fa;-------------------------------------------------
  background-color: #f2f2f2; *//**changes*/
  margin: 10px;
  padding-bottom: 20px;
  font-family: 'Montserrat', Helvetica, sans-serif;/*changes fontfamily*/
  background: #EEEEEE 0% 0% no-repeat padding-box;
  opacity: 1;
}

.cardCol {
  padding: 0 !important;
}

.card-header {
  text-align: center;
  /* background-color: #b3b3b3; *//*changes*/
  font-family: 'Montserrat', Helvetica, sans-serif;/*changes*/
  /* font-size: 1.1em; *//*changes*/
  height: 38px;/*changes 40*/
  padding-top: 10px; /*changes 12*/
  color: #FFFFFF;/*changes#333333;*/
  display: flex;
  justify-content: space-around;
}

.card-header {
  margin: 4%;
  padding: 2%;
  /* border-radius: 5px; *//*changes*/
  /* font-family: Montserrat, Helvetica, sans-serif; *//*changes*/
  /*changes below*/
  background: #AEAEAE 0% 0% no-repeat padding-box;
  border-radius: 2px;
  font: normal normal 500 14px/18px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
}

.card .card-body {
  /* padding: 5%; */
  height: 370px;
}

.card .pkgContent {
  min-height: 86%;
}

.card .card-body .appInclude, .card .card-body .servcInclude {
  line-height: 2 !important;
  margin-bottom: 5px;
}

.card .card-body .card-title {
  font-family: 'Montserrat', Helvetica, sans-serif;/**changes*/
  text-align: center;
  /* font-size: 200%; *//**changes */

}

.card .card-body .card-text {
  /* font-family: Arial, Helvetica, sans-serif;
  text-align: inherit;
  font-size: 1.0em;
  margin-bottom: 0;
  color: #adadad; *//**changes*/
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}

.card .card-body .appIncludeHeading, .card .card-body .servcIncludeHeading {
  /*margin-bottom: 0;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em; *//*changes below*/
  text-align: left;
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
  margin-top: 1rem;
}

.card .card-body .appInclude {
  margin-bottom: 2rem;/*changes*/
}

.card .card-footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  margin-top: 0;
  margin-bottom: 0;
  height: 55px;
  padding-top: 5px;
  border-radius: 4px;
}

.card-footer .thumbnail {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
