<div class="footer-main">
  <div class="footer">
    <div class="footer-containt-header">
      <h6>CONTACT US</h6>
    </div>
    <div class="footer-containt-body">
      <div class="body-links">
        <h6>Address</h6>
        EPFL - Quartier de l'Innovation Daniel Borel Innovation Center
        <br />
        CH - 1015 Lausanne, Switzerland
        <br />
        Email - Support@logitech.com
        <br />
        Call - +41 (0)21 863 55 11
      </div>
      <!-- <div class="body-links-newletter">
        <h6>Important Links</h6>
        <a href="#" style="color: #ffffff !important;">Quote Me</a>
        <br />
        <a href="#" style="color: #ffffff !important;">Website</a>
        <br />
        <a href="#" style="color: #ffffff !important;">Legal</a>
      </div> -->
    </div>
    <div class="footer-containt-footer">
      <div class="copyright-text">
        &copy; Copyrights {{ currentYear }} & All Rights Reserved by
        Logitech Technologies.
      </div>
      <!-- <div class="copyright-text1">
                Followu Us :
                <a href="#">
                    <i class="pi pi-facebook" style="font-size: .75rem; color: #c8187d; cursor: pointer; margin-top: .3em; min-width: .3em;"></i>
                </a>
                <a href="#">
                    <i class="pi pi-twitter" style="font-size: .75rem; color: #c8187d; cursor: pointer; margin-top: .3em; min-width: .3em;"></i>
                </a>
                <a href="#">
                    <i class="pi pi-instagram" style="font-size: .75rem; color: #c8187d; cursor: pointer; margin-top: .3em; min-width: .3em;"></i>
                </a>
                <a href="#">
                    <i class="pi pi-linkedin" style="font-size: .75rem; color: #c8187d; cursor: pointer; margin-top: .3em; min-width: .3em;"></i>
                </a>
            </div> -->
    </div>
  </div>
</div>
