.footer-main {
  padding: 1%;
  /* background-color: #EEEEEE; */
  background-image: linear-gradient(to right bottom, #273c88, #583a90, #823491, #a7288a, #c8187d);
  opacity: 1;
  color: #ffffff;
}

.footer-containt-header > h6 {
  color: #ffffff;
  font-weight: 600;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 0.8em;
}

.footer-containt-body {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.body-links {
  justify-self: left;
  /* font-size: 0.75em; */
}

.body-links > h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 600;
}

.body-links-newletter {
  justify-self: right;
  margin-right: 3em;
  font-size: 1em;
 }

.body-links-newletter > h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 600;
}

.footer-containt-footer {
  border-top: 1px dashed #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.copyright-text {
  /* font-size: 0.6rem; */
  padding: 10px 0;
  color: #ffffff;
}

/* .copyright-text1 {
  justify-self: right;
  margin-right: 2em;
  font-size: .6em;
} */
